
  #nav-bar {
    margin: 0;
    height: 80px;
    width: 100%;
    color: #e8fdff;
    background-color: #00a087;
    font-family: 'Roboto Condensed', sans-serif;
    padding-right: 2em;
    padding-left: 2em;
  }

  #nav-bar .logo {
    width: 80px;
    height: 80px;
    float: left;
  }

  #nav-bar .header {
    color: #e8fdff;
    font-size: 1.5em;
    float: left;
    /* padding-top: 24px; */
    padding-top: 2%;
    margin-left: 10px;
    font-weight: bold
  }




  /*
   * Additional CSS can be defined below or in other CSS files, as per instructions
   */