
main.container section.new-tweet {
  display: none;
}

main.container section.new-tweet p.error-message {
  color: red;
  font-size: medium;
  display: none;
}

.new-tweet {
  box-sizing: border-box;
  padding: 1%;
  background-color: #eee;
  border-radius: 10px;
  height: 180px;
}

.compose {
  width: 100%;
  margin-bottom: 0%;
}

hr {
  box-sizing: border-box;
  border: none;
  color: black;
  background-color: black;
  height: 2px;
  width: 100%;
  margin-top: 0%;
  size: 1000px
}

textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
}

.submit-button{
  box-sizing: border-box;
  width: 50%;
  float: left;
}

.counter {
  box-sizing: border-box;
  width: 50%;
  float: right;
  text-align: right;
  font-style: italic;
}

.setRed {
  color:  red;
}